DB_HOST=db
DB_PORT=5432
DB_DATABASE=onlystudents_data
DB_USER=onlystudents
DB_PASSWORD=changeme

REDIS_HOST=dragonfly
REDIS_PORT=6379

PORT=8080

SMTP_HOST=mail.example.app
SMTP_PORT=587
SMTP_USERNAME=mail@example.app
SMTP_PASSWORD=smtp-password
SMTP_FROM=your-email@example.app
SMTP_FROM=OnlyStudents
SMTP_TLS=true
