# Server variables
PORT=8080
APP_ENV=production
DEMO_MODE=false # when enabled, adds demo users and other data. Not recommended for production.
LOG_DIR=logs # untested, do not change right now

# PostgreSQL connection
DB_HOST=db
DB_PORT=5432
DB_DATABASE=onlystudents_data
DB_USER=onlystudents
DB_PASSWORD=changeme
DB_SSLMODE=disable

# Redis connection
REDIS_HOST=dragonfly
REDIS_PORT=6379

# Secret Lengths
SESSION_COOKIE_LEN=32
OPAQUE_ENROLL_TOKEN_LEN=32
PASSWORD_RESET_CODE_LEN=10
EMAIL_VERIFY_CODE_LEN=10

# Password checks
PASSWORD_MIN_LEN=12
PASSWORD_MAX_LEN=128
HIBP_CHECK_ENABLED=true # Secure Have I Been Pwned check; only sends first 5 chars of SHA1 hash, can be turned off

# TTLs (in seconds)
SESSION_TTL=3600
ACCOUNT_CACHE_TTL=300
PERSON_CACHE_TTL=300
GRADES_CACHE_TTL=300
GROUPS_CACHE_TTL=300
CLASS_CACHE_TTL=300

# TTLs (in minutes)
PASSWORD_RESET_CODE_TTL=15
EMAIL_VERIFY_CODE_TTL=15

# TTLs (in hours)
ENROLL_TOKEN_TTL=168 # 7 days

# SMTP connection
SMTP_HOST=mail.example.app
SMTP_PORT=587
SMTP_USERNAME=mail@example.app
SMTP_PASSWORD=smtp-password
SMTP_FROM=your-email@example.app
SMTP_FROM_NAME=OnlyStudents
SMTP_TLS=true

# Ratelimits ("max" defines how many requests can be sent in "window" seconds)
AUTH_RATE_MAX=5
AUTH_RATELIMIT_WINDOW=60
API_RATE_MAX=60
API_RATELIMIT_WINDOW=60
FORGET_RATE_MAX=1
FORGET_RATELIMIT_WINDOW=120

# Reverse Proxy setup
TRUSTED_PROXIES=127.0.0.1/32
TRUST_PROXY=false

# OPAQUE setup
OPAQUE_SERVER_ID=onlystudents_server
OPAQUE_OPRF_SEED_SECRET=
OPAQUE_SERVER_PRIVATE_KEY=
