@import "tailwindcss";

.box {
    @apply flex w-120 h-100 p-6 rounded-2xl z-149 flex-row justify-start items-center;
    background-color: var(--bg-color);
    border: var(--txt-color) solid 4px;

    transition: box-shadow 400ms ease-in-out;

    overflow: hidden;
}

.box:hover {
    box-shadow: 0 0 10px var(--txt-color);
    transition: box-shadow 200ms ease-in-out;
}

.content {
    @apply flex flex-col items-center absolute inset-6 w-106 h-86;
}

.out {
    transform: translateX(0);
    transition: transform 200ms ease-in-out;
}

.out.hid {
    transform: translateX(-480px);
}

.loginput {
    @apply flex flex-col m-4 gap-4 w-full;
    input {
        @apply h-12 w-full rounded-lg p-3;
        background-color: var(--hover-color);
        transition: box-shadow 400ms ease-in-out;
    }
    input:focus, input:hover {
        @apply outline-none;
        box-shadow: 0 0 15px var(--hover-color);
        transition: box-shadow 200ms ease-in-out;
    }

    select {
        @apply w-full h-12 rounded-lg p-3;
        background-color: var(--hover-color);
        transition: box-shadow 400ms ease-in-out;
    }

    select:hover {
        box-shadow: 0 0 15px var(--hover-color);
        transition: box-shadow 200ms ease-in-out;
    }

    select:focus {
        outline: none;
        box-shadow: 0 0 15px var(--hover-color);
        transition: box-shadow 200ms ease-in-out;
    }
}

.wrong {
    box-shadow: 0 0 15px var(--wrong-color) !important;
}

.logbutton {
    @apply flex flex-row justify-between items-center w-full mt-4;
    .button {
        background-color: var(--hover-color);
        transition: box-shadow 400ms ease-in-out;
    }
    .button:hover {
        box-shadow: 0 0 15px var(--hover-color);
        transition: box-shadow 200ms ease-in-out;
    }
}