@reference "tailwindcss";

.main {
    @apply absolute bottom-0 right-0 h-full p-4;
    width: calc(100% - 22.5rem);

    .configure {
        @apply flex flex-col min-w-120 min-h-80 z-151 rounded-2xl p-7 overflow-hidden;
        border: var(--txt-color) solid 4px;
        background-color: var(--bg-color);

        input {
            @apply h-12 w-full rounded-lg p-3;
            background-color: var(--hover-color);
            transition: box-shadow 400ms ease-in-out;
        }
        input:focus, input:hover {
            @apply outline-none;
            box-shadow: 0 0 15px var(--hover-color);
            transition: box-shadow 200ms ease-in-out;
        }

        button {
            @apply p-2 text-center rounded-lg cursor-pointer;
            background-color: var(--hover-color);
            transition: box-shadow 400ms ease-in-out;
        }

        button:hover {
            box-shadow: 0 0 15px var(--hover-color);
            transition: box-shadow 200ms ease-in-out;
        }

        .moving {
            @apply flex flex-row relative w-120;
            height: calc(20rem - 48px - 2rem);
            .moving-content {
                @apply flex flex-col gap-4 w-full;
            }
            .first {
                animation: out 500ms ease-in-out;
                transform: translateX(-480px);
            }
            .second {
                animation: in 500ms ease-in-out;
            }
        }
    }
}

.wrong {
    box-shadow: 0 0 15px var(--wrong-color) !important;
}

@keyframes out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20cqw);
    }
}

@keyframes in {
    0% {
        transform: translateX(20cqw);
    }

    100% {
        transform: translateX(0);
    }
}
