@import "tailwindcss";

.sidebar {
    @apply absolute w-90 left-0 bottom-0 h-full p-4;
    border-right: 2px solid var(--border-color);

    .buttons {
        @apply relative flex flex-col gap-1;
        button {
            @apply relative z-10 w-full text-start p-2 rounded-lg cursor-pointer h-10;
            background: transparent;
        }
        .sbutton {
            @apply absolute z-0 w-full h-10 rounded-lg top-0;
            pointer-events: none;
            transition: opacity 200ms ease-in-out, top 100ms ease-in-out;
            background-color: var(--hover-color);
        }
        .hid {
            opacity: 0;
        }
        .ssbutton {
            background-color: var(--border-color);
            transition: top 300ms ease-in-out;
        }
    }
}

.main {
    @apply absolute bottom-0 right-0 h-full p-4;
    width: calc(100% - 22.5rem);

    .configs {
        transition: box-shadow 400ms ease-in-out, height 400ms ease-in-out;
    }

    .configs:hover {
        box-shadow: 0 0 10px var(--txt-color);
        transition: box-shadow 200ms ease-in-out;
    }

    .config {
        @apply flex flex-row justify-between items-center w-full rounded-lg p-2 cursor-pointer;

        transition: background-color 300ms ease;
    }

    .config:hover {
        background-color: var(--hover-color);
        transition: background-color 200ms ease;
    }

    .configure {
        @apply flex flex-col w-120 h-80 z-151 rounded-2xl p-7 overflow-hidden;
        border: var(--txt-color) solid 4px;
        background-color: var(--bg-color);

        input {
            @apply h-12 w-full rounded-lg p-3;
            background-color: var(--hover-color);
            transition: box-shadow 400ms ease-in-out;
        }
        input:focus, input:hover {
            @apply outline-none;
            box-shadow: 0 0 15px var(--hover-color);
            transition: box-shadow 200ms ease-in-out;
        }

        button {
            @apply p-2 text-center rounded-lg cursor-pointer;
            background-color: var(--hover-color);
            transition: box-shadow 400ms ease-in-out;
        }

        button:hover {
            box-shadow: 0 0 15px var(--hover-color);
            transition: box-shadow 200ms ease-in-out;
        }

        .moving {
            @apply flex flex-row relative;
            width: 100%;
            height: calc(20rem - 48px - 2rem);
            .moving-content {
                @apply flex flex-col gap-4 w-full;
            }
            .first {
                animation: out 500ms ease-in-out;
                transform: translateX(-480px);
            }
            .second {
                animation: in 500ms ease-in-out;
            }
        }
    }
}

@keyframes out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-480px);
    }
}

@keyframes in {
    0% {
        transform: translateX(480px);
    }

    100% {
        transform: translateX(0);
    }
}