@import "tailwindcss";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.overlay {
    @apply fixed w-screen min-h-screen inset-0;
    backdrop-filter: blur(2px);
}