@import "tailwindcss";

.sidebar {
    height: 100vh !important;
}

.main {
    @apply absolute bottom-0 right-0 h-full p-4;
    width: calc(100% - 22.5rem);
    height: 100vh;

    .box {
        @apply border-(--txt-color) w-full h-fit min-h-80 flex flex-col items-center justify-start p-4 border-4 rounded-2xl gap-2;
        .inputs {
            @apply w-full overflow-y-auto pr-2 flex flex-col;
            /* really stupid names but it is what it is */
            .wronggg input, .wrongg__control {
                box-shadow: 0 0 15px var(--wrong-color) !important;
                transition: box-shadow 200ms ease-in-out !important;
            }
            .keyinput input, .keyinput__control {
                transition: box-shadow 400ms ease-in-out;
            }
        }
    }

    .status {
        @apply cursor-default!;
    }

    .sselect {
        @apply h-8 mb-4 bg-(--hover-color) cursor-pointer;
        select {
            @apply text-start! pr-2 pl-2;
        }
    }

    .enroll {
        @apply cursor-default! h-12 pr-1;
        input {
            @apply w-80 rounded-lg bg-(--card-color) outline-none h-10 p-2;
        }
    }

    .enroll-save {
        @apply self-end w-fit p-2 rounded-lg mr-4 bg-(--card-color) hover:bg-(--hover-color) cursor-pointer;
        transition: background-color 300ms ease-in-out;
    }

    .enroll-save:hover {
        transition: background-color 100ms ease-in-out;
    }

    .theme-color {
        @apply cursor-default! h-12 pr-1;

        input[type="color"] {
            @apply size-10 rounded-none border-2 border-(--border-color) cursor-pointer bg-transparent p-0;
        }

        input {
            @apply w-80 rounded-lg bg-(--card-color) outline-none h-10 p-2;
        }
    }

    .theme-card {
        @apply w-full flex flex-row items-center justify-between gap-4 border-2 border-(--border-color) rounded-xl p-3;

        .swatches {
            @apply flex flex-row flex-wrap gap-1;

            span {
                @apply size-6 rounded-md border border-(--border-color) inline-block;
            }
        }
    }

    .theme-action-button {
        @apply cursor-pointer;
        transition: color 300ms ease-in-out;
    }

    .theme-action-button:hover {
        transition: color 100ms ease-in-out;
    }

    .theme-action-shadow {
        transition: box-shadow 400ms ease-in-out;
    }

    .theme-action-shadow:hover {
        transition: box-shadow 200ms ease-in-out;
        box-shadow: 0 0 10px var(--border-color);
    }
}
