@import "tailwindcss";

.box {
    @apply flex w-120 p-6 rounded-2xl z-149 flex-row justify-start items-center h-60;
    background-color: var(--bg-color);
    border: var(--txt-color) solid 4px;

    transition: box-shadow 400ms ease-in-out, height 200ms ease-in-out;

    overflow: hidden;
}

.box:hover {
    box-shadow: 0 0 10px var(--txt-color);
    transition: box-shadow 200ms ease-in-out, height 200ms ease-in-out;
}

.content {
    @apply flex flex-col items-center absolute inset-6 w-106 h-46;
    transition: height 200ms ease-in-out;
}

.logbutton {
    @apply absolute bottom-0 right-0 flex flex-row items-center gap-4;
    .button {
        background-color: var(--hover-color);
        transition: box-shadow 400ms ease-in-out;
    }
}