@import "tailwindcss";

.day {
    @apply flex flex-col justify-start items-center w-80 gap-2;
    .date {
        @apply flex flex-col justify-between items-center h-14 w-full;
        h1 {
            @apply text-2xl;
        }
        p {
            @apply opacity-70;
        }
    }
    .lesson {
        @apply bg-(--hover-color) rounded-2xl p-3 w-full h-32 flex flex-row justify-between;
        border-bottom: 2px solid var(--border-color);
        border-color: var(--border-color);
        h1 {
            @apply text-2xl;
        }
        h2 {
            @apply opacity-70;
        }
        p {
            @apply rounded-2xl p-2 bg-(--card-color);
        }
        transition: transform 400ms ease-in-out, border 200ms ease-in-out;
    }
    .lesson:hover {
        transform: translateY(-4px) translateX(-4px);
        border-right: 4px solid var(--border-color);
        border-bottom: 5px solid var(--border-color);
        transition: transform 200ms ease-in-out, border 100ms ease-in-out;
    }
}

.icon {
    @apply rounded-full inline-flex size-8 justify-center items-center cursor-pointer;
    transition: background-color 200ms ease-in-out;
}

.icon:hover {
    background-color: var(--hover-color);
}